.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
  font-family: "DrukWideMedium";
}

.error2 {
  color: red;
  font-size: 10px;
  margin-bottom: 0px;
  display: flex;
}
.detailsTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  margin-bottom: 5px;
  display: flex;
}

.InputDiv {
  display: flex;
  flex-direction: column;
}
.descriptionInput {
  height: 137px;
  border: 0.5px solid #737373;
  border-radius: 10px;
  background-color: #161616;
  width: 100%;
}
.buttonAdd {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}
.drop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 24px;
}
