packages:
    yum:
        amazon-linux-extras: []
        git: []
        libcurl-devel: []
        python-pycurl: []
        openssl-devel: []

commands:

    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql11
    02_postgres_install:
        command: amazon-linux-extras install postgresql11