option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: project.settings
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: project.wsgi:application
    NumProcesses: 4
    NumThreads: 50
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    /html: statichtml
    /static-files: static-files
    /media: media-files


container_commands:
   00_deploy_hook_permissions:
     command: |
       sudo find .platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;
       sudo find /var/app/staging/.platform/ -type f -iname "*.sh" -exec chmod -R 755 {} \;

   01_installpycurl:
        command: "source /var/app/venv/*/bin/activate && export CPPFLAGS=-I/usr/local/opt/openssl/include && export LDFLAGS=-L/usr/local/opt/openssl/lib && pip install pycurl --global-option='--with-openssl'"








