.checkOutDetailsDiv {
  width: 100%;
}
.paymentTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  margin: 5px;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 0px;
}

.changePassword {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
