/* Global Theme Variables */

:root {
  --primary: #d4b63c;
  --primary-dark: #b98912;
  --primary-light: #f2dc84;
  --secondary: #cf6d6e;
  --secondary-dark: #7b3e3f;
  --secondary-light: #f09b9c;
  --disabled1: #848484;
  --disabled2: #5c5c5c;
  --white: #ffffff;
  --background: #050505;
  --surface1: #0c0c0c;
  --surface2: #1e1c17;
  --field: #161616;
  --sidebar: linear-gradient(270deg, #1a1a1a 0%, rgba(26, 26, 26, 0) 100%);
  --sideBarShadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.25);
  --footerBackground: rgb(26, 26, 26);
  --cardWrapper: linear-gradient(
    180deg,
    rgba(255, 204, 0, 0.38) 0%,
    rgba(255, 204, 0, 0) 50%,
    rgba(255, 204, 0, 0.69) 100%
  );
  --inputBorder: #737373;
  --inputText: #848484;
}
