.wrapper {
  width: 100%;
  background: rgba(207, 109, 110, 1);
  min-height: 45vh;
  align-items: center;
  display: flex;
  @media (max-width: 991px) {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.profile {
  display: flex;
  flex-direction: row;
}
.imageCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileHeader {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.profileReport {
  margin-bottom: 0;
  margin-left: 5px;

  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  color: var(--white);
}

.reportDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  @media (max-width: 991px) {
    margin-bottom: 10px;
  }
}
.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
  @media (max-width: 991px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
.viewTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(241, 241, 241, 0.5);
  display: flex;
  padding-left: 10px;
  margin-bottom: 0;
  @media (max-width: 991px) {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
  }
}
.view {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  width: fit-content;
}
.edit {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  @media (max-width: 991px) {
  }
}
.editImage {
  cursor: pointer;
}
.profileImage {
  border-radius: 100px;
  @media (max-width: 991px) {
    width: 100px;
    height: 100px;
  }
}
.titlePage {
  font-family: "DrukWideMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  color: #ffffff;
  @media (max-width: 991px) {
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
  }
}
